.root {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.root :focus {
    outline: none;
}

.root :focus-visible {
    outline: none;
}
.footerDia {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
}

.footerDiaItem {
    display: flex;
    align-items: center;
    gap: 6px;
}

.footerDiaItemTitle {
    color: var(--Text-Primary, #121922);

    /* Body normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.footerDiaItemDot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #80def1;
}
