.title {
  color: var(--Text-Primary, #121922);

  /* Subtitle Medium */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.15px;
}
.wrapper {
  background: #fff;
  border-radius: 12px;
  padding: 20px 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper :focus {
  outline: none;
}

.wrapper :focus-visible {
  outline: none;
}
.title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 16px;
  color: #1c1c1e;
}
//legend
.legend {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 6px;
}

.legendIcon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.legendText {
  color: var(--Text-Primary, #121922);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
}
