.error {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    height: 100%;
    padding: 16px;
    min-height: 150px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: var(--color-default, #fff);
    z-index: 10;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.errorVisible {
    opacity: 1;
    visibility: visible;
}

.errorHidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.errorText {
    color: var(--Text-Secondary, #71869d);
    text-align: center;

    /* Body normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

.errorButton {
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.errorButtonText {
    color: var(--UI-Blue-Accent, #002cfb);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    &:hover {
        color: var(--UI-Blue-Hover, #0024cb);
    }
}
