.root {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 16px;
    min-width: 220px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}

.title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
}

.emptyTitle {
    color: var(--Text-Primary, #121922);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.indicatorsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    display: flex;
    flex-direction: column;
}

.itemContent {
    display: flex;
    align-items: flex-start;
}

.itemInfo {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}

.itemTitle {
    color: var(--Text-Primary, #121922);

    /* Body 1 Regular */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    padding-right: 6px;
    white-space: nowrap;
}

.itemIndicator {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: baseline;
    gap: 4px;

    span {
        font-size: 24px;
        font-weight: 500;
    }
}

.bottomRow {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.itemTopRow {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
}
.itemBottom {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    transition: all 0.15s 0.4s ease-in-out;
    flex-shrink: 0;
    width: fit-content;

    span {
        color: #71869d;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }

    &_load {
        opacity: 0;
    }
}

.itemIncrease {
    color: #28a879;
    display: flex;
    align-items: center;
    gap: 4px;

    svg {
        width: 16px;
        height: 16px;
    }

    svg path {
        fill: #28a879;
    }

    &_red {
        color: #e10d0d;

        svg path {
            fill: #e10d0d;
        }
    }
}

.arrow_down {
    transform: rotate(180deg);
}

.loader {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &_load {
        opacity: 1;
        visibility: visible;
    }
}

.progressContainer {
    display: flex;
    align-items: center;
}

.progressItem {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.progressElem {
    width: 24px;
    height: 6px;
    border-radius: 100px;
    background: #dfe5ef;

    &.red {
        background: var(--colors-Dashboard-red, #e38888);
    }

    &.orange {
        background: var(--colors-Dashboard-orange, #f3b352);
    }

    &.green {
        background: var(--colors-Dashboard-green, #70e093);
    }
}
.emptyTitle {
    color: var(--Text-Secondary, #71869d);

    /* Body normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
