.badge {
  flex-shrink: 0;
  max-width: 120px;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 8px;
  height: 24px;
  background: #f1f4f9;
  border-radius: 4px;
  color: #71869d;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.badgeText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
