.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerBtns {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 16px;
  }
  
  .section-blocks {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 12px;
  }

  .indicatorsWrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  