.root {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerTitle {
    display: flex;
    align-items: center;
    gap: 6px;
}
.iconInfo {
    cursor: pointer;
    width: 16px;
    height: 16px;
}
.headerBtns {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}
.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mainColumns {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
}

.leftColumn {
    flex: 3;
    min-width: 0;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
    min-width: 0;
}
