.root {
  position: absolute;
  z-index: 3;
  padding: 4px 8px 4px 8px;
  border-radius: 4px;
  background: rgba(31, 51, 69, 0.9);
  width: max-content;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.15s;

  p {
    color: #fff;
    white-space: normal;
    word-break: break-word;
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-wrap: wrap !important;
  }

  &_open {
    visibility: visible;
    opacity: 1;
  }

  &_center {
    left: 40%;
    transform: translateX(-50%);
  }
}
