.root {
    background: #fff;
    padding: 24px;
    border-radius: 20px;
    width: 100%;
    height: 280px;

    border-radius: 8px;
    background: var(--My-hover, #fff);
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    color: #202533;

    &.disabled {
        color: #b6becc;
    }
}

.legendDot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
}
