.root {
  background-color: #fff;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.chartContainer {
  width: 386px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.chart {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.data {
  display: flex;
  flex-direction: row;
  gap: 12px;

  align-items: center;
}

.title {
  font-size: 14px;
  color: #6b7280;
}

.totalRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.totalValue {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.change {
  font-size: 14px;
  color: #16a34a;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 14px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  flex-shrink: 0;
}
