.root {
    position: relative;
    min-height: 244px;

    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    overflow: hidden;
    background-color: #fff;
    padding: 16px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.root > div:first-child {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.swiper :global(.swiper-slide) {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
}

.swiper {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}

.navPrev,
.navNext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 150px;

    border-radius: 4px;
    border: none;

    cursor: pointer;
    z-index: 2;
    user-select: none;

    &:hover {
        background-color: #f0f0f0;
    }
}
.hidden {
    visibility: hidden;
    pointer-events: none;
}

.navPrev {
    left: 8px;
}

.navNext {
    right: 8px;
}
.swiper :global(.swiper-pagination) {
    height: 17px;
    position: static;
    margin-top: 12px;
    align-self: center;
}
.loader {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &_load {
        opacity: 1;
        visibility: visible;
    }
}
