.root {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    h2 {
        color: var(--Text-Primary, #121922);
        font-family: Inter;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 22px; /* 100% */
        margin: 0;
    }
}

.headerBtns {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 6px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.leftSide {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdowns {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px 24px;
    border-radius: 8px;
    background: var(--White, #fff);
}

.headerTitle {
    padding-bottom: 8px;
    color: #121922;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.15px;
}
.rightSide {
    width: 30%;
    min-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contractDate {
    color: #71869d;
}

.companyName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.companyNameAll {
    color: #71869d;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.companyDetails {
    color: #71869d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    white-space: nowrap;
}

.optionCompany {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    min-width: 0;
    width: 100%;
}

.loader {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;

    &_load {
        opacity: 1;
        visibility: visible;
    }
}
