.modal {
    padding: 20px 24px;
    font-family: Inter;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 600px;
}

.modalHeader {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    display: flex;
    align-items: center;
    gap: 8px;

    h3 {
        color: var(--Text-Primary, #121922);

        /* Subtitle Medium */
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 137.5% */
        letter-spacing: 0.15px;
    }
}

.content {
    overflow-y: auto;
    padding-right: 4px;
    // max-height: 500px;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 12px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.sectionTitle {
    color: var(--Text-Primary, #121922);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
}

.item {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.itemTitle {
    color: var(--Text-Secondary, #71869d);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 137.5% */
    padding-left: 20px;
}

.itemText {
    color: var(--Text-Primary, #121922);

    /* text */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-left: 20px;
}
