.root {
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: 100%;

}
.chartContainer {
  width: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.data {
  flex: 1;

}

.title {
  font-size: 14px;
  color: #6b7280;
}

.totalRow {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 4px;
}

.totalValue {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

.change {
  font-size: 14px;
  color: #16a34a;
}

.list {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  flex-shrink: 0;
}

