.root {
  position: relative;
  height: 244px;
  min-width: 450px;
  border-radius: 12px;
  overflow: hidden;

  // display: block;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  padding-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.swiper :global(.swiper-slide) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 174px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.navPrev,
.navNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 150px;

  border-radius: 4px;
  border: none;

  cursor: pointer;
  z-index: 2;
  user-select: none;

  &:hover {
    background-color: #f0f0f0;
  }
}
.hidden {
  visibility: hidden;
  pointer-events: none;
}

.navPrev {
  left: 8px;
}

.navNext {
  right: 8px;
}
.swiper :global(.swiper-pagination) {
  height: 12px;
  // bottom: -12px;
}
