.root {
  position: relative;
  height: 244px;
  width: 450px;

  border-radius: 12px;
  // background-color: #cde0ff;
  overflow: hidden;
}

.swiper {
  height: 100%;
}

.navPrev,
.navNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 150px;


  border-radius: 4px;
  border: none;

  cursor: pointer;
  z-index: 2;
  user-select: none;

  &:hover {
    background-color: #f0f0f0;
  }
}

.navPrev {
  left: 8px;
}

.navNext {
  right: 8px;
}
