.tooltip {
    display: flex;

    padding: 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 4px;
    background: var(--White, #fff);
    box-shadow: 0 0 10px 0 rgba(0, 32, 51, 0.1);
}

.tooltipDate {
    color: var(--Text-Primary, #121922);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.tooltipDateWeekday {
    color: #71869d;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.tooltipList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.tooltipItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    gap: 6px;
    color: #52616b;
}

.tooltipItemContent {
    display: flex;
    align-items: center;
    gap: 6px;
}

.tooltipDot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.tooltipLabel {
    color: #14191f;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.tooltipValue {
    color: #14191f;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
