.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    /*  background-color: var(--color-bg-card-inner); */
    opacity: 1;
    transition: all 0.2s ease-in-out;
    border-radius: 4px;
}

.loader {
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    border-radius: 2px;
    background-color: rgba(243, 243, 243, 0.607);
    /*   background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(213, 213, 213, 0.12)), color-stop(18%, rgba(166, 165, 165, 0.2)), color-stop(33%, rgba(186, 185, 185, 0.1)));
    background: linear-gradient(to right, rgba(173, 172, 172, 0.1) 8%, rgba(210, 210, 210, 0.2) 18%, rgba(207, 206, 206, 0.1) 33%); */
    /*  background-color: linear-gradient(130deg,
            transparent 0,
            transparent 35%,
            #18191c99 40%,
            #18191ce6 50%,
            #18191c99 60%,
            transparent 70%,
            transparent 100%);
    ; */
    background-size: 800px 200px;
    animation: blink 1.8s infinite ease-out;
    transition: all 0.2s ease-in-out;

    &_close {
        opacity: 0;
        /* width: 20px; */
    }
}

@keyframes wave {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}

@keyframes blink {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
