.root {
    width: 100%;
    padding: 24px;
    background-color: #fff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 30px rgba(34, 42, 70, 0.08);
}

.title {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: var(--Text-Primary, #121922);
    flex-shrink: 0;
}

.chartContainer {
    width: 100%;
    height: 234px;
}
