.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 390px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #fff;
}

.indicatorWrapper {
    min-width: 0;
}

.chartCard {
    position: relative;
    min-height: 0;
}

.chart {
    flex: 1;
}

.loaderOverlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}
