.root {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;

    box-sizing: border-box;
    height: 282px;
    border-radius: 8px;
    background-color: #fff;
}

.indicatorWrapper {
    min-width: 0;
}

.chartCard {
    position: relative;
    min-height: 0;
    outline: none;

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: none;
    }

    * {
        outline: none;

        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: none;
        }
    }
}

.chart {
    flex: 1;
}

.loader {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-in-out;

    &_load {
        opacity: 1;
        visibility: visible;
    }
}

////////// EMPTY STATE //////////

.emptyStateContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-self: center;
    gap: 6px;
    text-align: center;
}
.emptyState {
    padding: 0px 16px 16px 16px;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}
.emptyStateIcon {
    padding: 10px;
    width: 111px;
    height: 85px;
}

.emptyStateText {
    color: var(--Text-Secondary, #71869d);

    /* Body normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}
