.root {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;
  min-width: 254px;
  max-height: 280px;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #fff;
  gap: 12px;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 8px;
  font-size: 14px;
  font-weight: 500;
  color: #71869d;
}

.leftHeader {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--Text-Secondary, #71869d);

  /* Body 1 Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.rightHeader {
  text-align: right;
  color: var(--Text-Secondary, #71869d);

  /* Body 1 Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 137.5% */
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;

  flex: 1;
  min-height: 0;
}

.content {
  flex-shrink: 0;
}
.item {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  align-items: center;
}

.leftColumn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: left;
  min-width: 0;
}

.rightColumn {
  white-space: nowrap;
}

.label {
  color: var(--Text-Secondary, #71869d);

  /* Body 2 Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 128.571% */
  display: flex;
  height: 24px;
  padding: 0 8px;
  align-items: center;
  border-radius: 4px;
  background: rgba(0, 44, 251, 0.05);
  // min-width: 85px;
  max-width: 130px;
}
.scroll {
  overflow-y: auto;
  padding-right: 12px;
}
.paddingRight {
  padding-right: 12px;
}
.loader {
  position: absolute;
  inset: 0;
  z-index: 3;
  background-color: #fff;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.loaderLoad {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
