.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 16px;
    padding-right: 0;
    padding-top: 0;
    outline: none !important;
    user-select: none;

    &:focus {
        outline: none !important;
    }

    &:focus-visible {
        outline: none !important;
    }

    &:active {
        outline: none !important;
    }

    * {
        outline: none !important;

        &:focus {
            outline: none !important;
        }

        &:focus-visible {
            outline: none !important;
        }

        &:active {
            outline: none !important;
        }
    }

    svg {
        outline: none !important;

        &:focus {
            outline: none !important;
        }

        &:focus-visible {
            outline: none !important;
        }

        &:active {
            outline: none !important;
        }

        * {
            outline: none !important;

            &:focus {
                outline: none !important;
            }

            &:focus-visible {
                outline: none !important;
            }

            &:active {
                outline: none !important;
            }
        }
    }
}
