.filter {
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  background-color: #fff;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.15s;

  &_active {
    color: #002cfb;
  }

  &:hover {
    background-color: #f8fafd;
  }
}

.title {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #71869d;

  &_active {
    color: #002cfb;
  }
}

.icon {
  position: relative;
  display: flex;
  align-items: center;
}

.hidden {
  opacity: 0;
}

.block {
  display: flex;
  align-items: center;
  width: 0;
  overflow: hidden;
  transition: all 0.25s ease-in-out;

  &_active {
    width: 16px;
  }
  &_activeDate {
    width: 12px;
  }
}

.loader {
  position: absolute;
  left: 0;
  top: 0;

  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;

  &_vis {
    opacity: 1;
    visibility: visible;
  }
}

.count {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 44, 251, 0.1);
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: #002cfb;
}

.close {
  margin-bottom: -1px;
  cursor: pointer;

  &:hover {
    svg path {
      fill: #0024cb;
    }
  }
}
