.root {
    padding: 24px;
}

.header {
    margin-bottom: 24px;
    
    h2 {
        font-size: 40px;
        font-weight: 500;
        line-height: 40px;
        color: #121922;
        margin: 0;
    }
}

.main {
    // Стили для основного контента
}

