.root {
    padding: 40px;
    font-family: Inter;
    height: 100vh;
    min-width: 1600px;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-gutter: stable;
    cursor: default;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}