.root {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  h2 {
    color: var(--Text-Primary, #121922);
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 100% */
    margin: 0;
  }
}

.headerBtns {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 6px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.leftSide {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.rightSide {
  width: 30%;
  min-width: 580px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
